
.header-img-title.about{
    padding-top: 265px;
    padding-bottom: 250px;
    left: -50px;
    opacity: 0;
}
.about-title{
    color: #3b3b3b !important;
}
.about-title.bottom-border:after{
    height: 8px;
    width: 192px;
}
.about-description{
    font-size: 26px !important;
    line-height: 1.1em;
    color: #3b3b3b;  
}
.master-holder h2.our-team{
    font-size: 110px;
    line-height: 1em;
    margin: 33px 0;
    color: #fff;
}
.team-name{
    text-align: center;
    font-weight: bold;
    font-size: 32px !important;
    line-height: 1.7em;
    margin: 36px 0;
    color: #3b3b3b !important;
}
.team-name.white{
    color: white !important;
}
.big-initials{
    font-size: 44px;
}
.team-title{
    text-align: center;
    color: white;
    padding: 22px 0;
    margin-bottom: 0px;
}
.our-team .wpb_single_image img{
    width: 487px;
}
@media (min-width: 1920px) {
    .about-title{
        font-size: 60px !important;
    }
}

@media (max-width: 1850px) {
    .header-img-title.about{
        font-size: 380px !important;
    }
}
@media (max-width: 1800px) {
    .header-img-title.about{
        font-size: 370px !important;
    }
}
@media (max-width: 1750px) {
    .header-img-title.about{
        font-size: 360px !important;
    }
}
@media (max-width: 1700px) {
    .header-img-title.about{
        font-size: 350px !important;
    }
}
@media (max-width: 1650px) {
    .header-img-title.about{
        font-size: 340px !important;
    }
}
@media (max-width: 1600px) {
    .header-img-title.about{
        padding-top: 165px;
        padding-bottom: 150px;
        font-size: 330px !important;
    }
    .about-description{
        font-size: 22px !important;
    }
     .about-title{
        font-size: 50px !important;
    }
    .about-title.bottom-border:after{
    	height: 7px;
    	width: 164px;
    }
    .master-holder h2.our-team{
    	font-size: 100px;
    }
    .big-initials{
    	font-size: 40px;
    }
    .team-name{
    	line-height: 1em;
    	font-size: 24px !important;
    }
}
@media (max-width: 1550px) {
    .header-img-title.about{
        font-size: 320px !important;
    }
}
@media (max-width: 1500px) {
    .header-img-title.about{
        font-size: 300px !important;
    }
}
@media (max-width: 1440px){
	.what-is-container.vc_custom_1489651157887{
		padding-top: 90px !important;
	}
	.header-img-title.about{
		font-size: 295px!important;
    	left: -35px;
	}
	.about-title {
		font-size: 48px!important;
	}
	.about-title.bottom-border:after{
		height: 6px;
		width: 148px;
	}
	.about-description {
    	font-size: 20px!important;
	}
	.team-title{
		font-size: 22px !important;
	}
	.master-holder h2.our-team{
		font-size: 80px;
		margin: 23px 0;
	}
	
}
@media (max-width: 1400px) {
    .header-img-title.about{
        font-size: 285px !important;
    }
}

@media (max-width: 1366px){
	.header-img-title.about{
		font-size: 275px !important;
	}
}
@media (max-width: 1320px){
	.header-img-title.about{
		font-size: 265px !important;
	}
}

@media (max-width: 1280px){
	.header-img-title.about{
		font-size: 259px !important;
	}
	.about-title {
    	font-size: 45px!important;
	}
	.master-holder h2.our-team{
		font-size: 60px;
		margin: 20px 0;
	}
}
@media (max-width: 1230px){
    .header-img-title.about{
        font-size: 245px !important;
    }
}
@media (max-width: 1160px){
    .header-img-title.about{
        font-size: 235px !important;
    }
}
@media (max-width: 1100px){
    .header-img-title.about{
        font-size: 220px !important;
    }
}
@media (max-width: 1055px){
    .header-img-title.about{
        font-size: 210px !important;
    }
}
@media (max-width: 1024px){
    .visible-tablet{
        display: block !important;
    }
	.what-is-container.vc_custom_1489651157887{
		padding-top: 60px !important;
    	padding-right: 65px !important;
		padding-left: 28px !important;
	}
	.our-team-container.vc_custom_1489651619244{
		padding-left: 28px !important;
   
	}
	.header-img-title.about{
		font-size: 205px !important;
    	left: -25px;
	}
	.about-title {
    	font-size: 40px!important;
	}
	.about-title.bottom-border:after{
		height: 5px;
		width: 132px;
	}
	.master-holder h2.our-team{
		font-size: 55px;
		margin: 17px 0;
	}
	.team-name{	
	    font-size: 18px !important;
		margin: 18px 0;
	}
	.big-initials {
    	font-size: 30px;
	}
	.team-title{
		font-size: 18px !important;
    	padding: 18px 0;
	}
	
}
@media (max-width: 979px){
	.header-img-title.about{
		font-size: 172px!important;
		line-height: 0.9em !important;
    	white-space: normal;
	}
	.what-is-container.vc_custom_1489651157887{
		padding-top: 20px!important;
		padding-right: 20px!important;
		padding-left: 20px!important;
	}
    .our-team-container.vc_custom_1489651619244{
		padding-right: 20px!important;
    	padding-left: 20px!important;
	}
    .about-description{
		font-size: 18px!important;
	}
}
@media (max-width: 736px){
    .about-banner.vc_custom_1491810070048{
    	background-image: url(/wp-content/uploads/2017/03/about-us-header-mobile.jpg) !important;
        
    }
    .bluefox-feather.vc_custom_1489729167688{
	    padding: 199px 0 !important;
    }
    .header-img-title.about{
        font-size: 149px!important;
    	padding-top: 214px;
        padding-bottom: 166px;
    	letter-spacing: 1px;
        float: left;
        left: 0px;
    }
    .about-title{
	    margin: 30px 0 25px;
    }
    .about-description{
		font-size: 20px!important;
		margin-bottom: 50px;
	}
	.our-team-container.vc_custom_1489651619244 {
        padding-right: 0px!important;   
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 120px;
    }
    .master-holder h2.our-team{
    	margin: 0;
    }
    .team-name{
    	font-size: 32px !important;
        margin: 25px 0;
    }
    .big-initials {
        font-size: 44px;
    }
    .team-title{
    	font-size: 26px !important;
        padding: 22px 0;
    }
    .our-team .vc_empty_space{
        display: none;
    }
    .look-serious-container h3 {
        font-weight: bold !important;
        line-height: 0.8em !important;
    }
}
@media (max-width: 480px){
    .header-img-title.about{
        left: -18px;
        
    }
}

@media (max-width: 414px){
    .our-team-container.vc_custom_1489651619244{
        margin-left: 20%;
    }
    .header-img-title.about{
		font-size: 129px!important;
	}
	.master-holder h2.our-team{
		font-size: 50px;
	}
}
@media (max-width: 375px){
	.header-img-title.about{
		font-size: 116px!important;
	}
	.our-team-container.vc_custom_1489651619244{
		margin-left: 15%;
	}
	.master-holder h2.our-team{
		font-size: 45px;
	}
	.about-title {
    	font-size: 36px!important;
	}
	.about-title.bottom-border:after{
		width: 119px;
	}
	.team-name{
		font-size: 26px !important;
	}
	.big-initials{
		font-size: 40px;
	}
	.look-serious-container h3{
		font-size: 45px !important;
	}
}
@media (max-width: 360px){
	.header-img-title.about{
		font-size: 112px!important;
	}
	.about-title {
    	font-size: 34px!important;
	}
	.about-title.bottom-border:after{
		width: 113px;
	}
}
@media (max-width: 320px){
	.header-img-title.about{
		left: -14px;
    	font-size: 99px!important;
		padding-top: 146px;
   		padding-bottom: 116px;
	}
	.master-holder h2.our-team{
		font-size: 40px;
	}
	.team-name{
		font-size: 20px !important;
	}
	.big-initials {
		font-size: 30px;
	}
	.team-title{
		font-size: 24px !important;
	}
}

@media (min-width: 2000px){
    .header-img-title.about{
        text-align: center !important;
        left: 0px; 
    }
    
}
