.header-img-title{
    padding-top: 255px;
    padding-bottom: 320px;
    opacity: 0;
}
.contact-map-wrapper .mk-advanced-gmaps{
    height: 1152px !important;
}
.contact-form-container{
    padding: 0 5%;
}

.gform_wrapper .contact-us-page input[type="text"], 
.gform_wrapper .contact-us-page input[type="email"], 
.gform_wrapper .contact-us-page textarea{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 4px solid #fff !important;
    color: white !important;
    font-size: 30px !important;    
    font-weight: normal;
    line-height: 1em;
    margin-top: 10px;
}

.IE .contact-us-page .ninja-forms-field{
    color: #fff;
    font-weight: normal;
}
#gform_8 textarea::-webkit-input-placeholder,
#gform_8 input[type="text"]::-webkit-input-placeholder,
#gform_8 input[type="email"]::-webkit-input-placeholder{
  color: white;
  font-weight: normal;
  opacity: 1;
}

#gform_8 input[type="text"]::-moz-placeholder,
#gform_8 input[type="email"]::-moz-placeholder,
#gform_8 textarea::-moz-placeholder {
  color: white;
  font-weight: normal;
  opacity: 1;
}

.IE .contact-us-page input[type="button"], .contact-us-page input[type="button"],
#gform_8 input[type="submit"]{
    background-color: white !important;
    color: #3b3b3b !important;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 142px !important;
    line-height: 1em !important;
    border-bottom: none !important;
    -webkit-box-shadow: -23px 37px 150px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: -23px 37px 150px 0px rgba(0,0,0,0.39);
    box-shadow: -23px 37px 150px 0px rgba(0,0,0,0.39);
    border-radius: 0;  
    margin: 20px 0 !important;
}
#gform_8 input[type="submit"]:hover, #gform_8 input[type="submit"]:focus{
    background-color: #3b3b3b !important;
    color: white !important;
}
#gform_8 input:focus{
    background-color: transparent !important;
}
#gform_8 .gform_footer{
    text-align: center;
}
#gform_8 .full-name, #gform_8 .company-name,
#gform_8 .phone, #gform_8 .email{
    width: calc(49%);
}
#gform_8 .phone, #gform_8 .full-name{
    float: left;
}
#gform_8 .email, #gform_8 .company-name{
    float: right;
}
#gform_8 .gfield_description.validation_message{
    font-size: 14px !important;
}
#gform_8 .gform_confirmation_wrapper{
    font-size: 32px;
    color: white;
    padding: 100px 0 120px;
    text-align: center;
    line-height: 1em;
}
.contact-title-1{
    font-size: 100px !important;
    
}
.contact-title-2{
    font-size: 86px !important;
    
}
.contact-title-1,.contact-title-2{
    line-height: 0.9em;
    margin-bottom: 30px;
    color: #3b3b3b !important;
}

.contact-desc p {
    font-size: 32px !important;
    line-height: 1em;
    margin-bottom: 60px;
    color: #3b3b3b !important;
}

.contact-address-container{
    position: absolute;
    width: 38%;
    margin-left: -15px;
    margin-top: 115px;
}
.contact-social-icon{
    display: inline-block;
    margin-right: 45px;
}
.nf-response-msg p{
    color: white;
    font-size: 22px;
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-lg .vc_icon_element-icon{
    font-size: 3.5em !important;
}
.vc_icon_element-inner:hover > .vc_icon_element-icon{
    color: #0397d2 !important;
}

@media (max-width: 1850px) {
    .header-img-title{
        font-size: 315px !important;
    }
}
@media (min-width: 1800px) {
    .header-img-title{
        font-size: 305px !important;
    }
}
@media (max-width: 1750px) {
    .header-img-title{
        font-size: 295px !important;
    }
}
@media (max-width: 1700px) {
    .header-img-title{
        font-size: 285px !important;
    }
}
@media (max-width: 1650px) {
    .header-img-title{
        font-size: 275px !important;
    }
}

@media (max-width: 1600px){
    
    .header-img-title {
        font-size: 260px !important;
        left: -60px;
        padding-top: 190px;
        padding-bottom: 180px;
    }
    .contact-map-wrapper .mk-advanced-gmaps{
        height: 1152px !important;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 222px !important;
    }
}
@media (max-width: 1550px) {
    .header-img-title{
        font-size: 250px !important;
    }
}
@media (max-width: 1500px) {
    .header-img-title{
        font-size: 240px !important;
    }
}

@media (max-width: 1440px) {
    .header-img-title {
        font-size: 233px !important;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 142px !important;
    }
}
@media (max-width: 1400px) {
    .header-img-title{
        font-size: 226px !important;
    }
}
@media (max-width: 1366px) {
     .header-img-title {
        font-size: 220px !important;
        left: -50px;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 113px !important;
    }
}
@media (max-width: 1320px){
    .header-img-title{
        font-size: 214px !important;
    }
}
@media (max-width: 1280px) {
     .header-img-title {
        font-size: 205px !important;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 62px !important;
    }
}
@media (max-width: 1230px){
    .header-img-title{
        font-size: 195px !important;
    }
}
@media (max-width: 1160px){
    .header-img-title{
        font-size: 185px !important;
    }
}
@media (max-width: 1100px){
    .header-img-title{
        font-size: 175px !important;
    }
}
@media (max-width: 1055px){
    .header-img-title{
        font-size: 165px !important;
    }
}
@media (max-width: 1024px) {
     .header-img-title {
        font-size: 161px !important;
        left: -30px;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 20px !important;
    }
    .contact-map-wrapper{
        max-height: 900px;
    }
}
@media (max-width: 979px){
    .header-img-title{
        font-size: 150px !important;
        white-space: normal;
        text-align: left !important;
    }
}
@media (max-width: 768px) {
    .header-img-title {
        font-size: 118px !important;
        left: -25px;
        padding-top: 240px;
        padding-bottom: 232px;
    }
    .contact-us-page nf-field{
        width: 100% !important;
        margin: 0 !important;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 15px !important;
        padding-top: 50px !important;
    }
    .contact-title-1{
        font-size: 90px !important;
    }
    .contact-desc p{
        font-size: 30px !important;

    }
    .contact-map-wrapper{
        max-height: 1000px;
    }
    .contact-social-icon{
        margin-right: 16px;
    }
    
}

@media (max-width: 736px){
    .banner-container.vc_custom_1494053262754{
        background-image: url(/wp-content/uploads/2017/03/contact-us-mobile.jpg) !important; 
        
    }
    .header-img-title{
        font-size: 107px !important;
        letter-spacing: 1px;
        white-space: normal;
        float: left;
        left: -26px;
        text-align: left !important;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-top: 50px !important;
        padding-right: 60px !important;
        padding-bottom: 55px !important;
        padding-left: 60px !important;
    }
    .contact-desc p{
        margin-bottom: 40px;
    }
    .address-separator.vc_custom_1489569204653{
        margin-top: 0px !important;
        margin-bottom: 40px !important;
    }
    .contact-map-wrapper .vc_column-inner{
        padding-left: 0 !important;
        border: 5px solid #46bcec;
    }
    .address-separator.vc_custom_1490091366541{
        margin-top: 0px !important;
        margin-bottom: 60px !important;
    }
    .follow-title{
        text-align: center !important;
    }
    .social-icon-wrapper .vc_column-inner {
        max-width: 300px;
        margin: auto;
    }
    .contact-social-icon {
        margin-right: 26px;
        margin-bottom: 5px;
    }
}
@media (max-width: 480px){
    .header-img-title{
        left: -23px;
        font-size: 95px !important;
        padding-top: 210px;
        padding-bottom: 210px;
    }
    .contact-address-wrapper .vc_custom_1494641528377{
        padding-left: 20px !important;
    }
    .contact-form-container{
        padding: 0;
    }
    #gform_8 .full-name, #gform_8 .company-name, #gform_8 .phone, #gform_8 .email{
        width: 100%;
    }
    .IE .contact-us-page input[type="button"], .contact-us-page input[type="submit"],
    #gform_8 input[type="submit"]{
        padding: 20px 0 !important;
        max-width: 100%;
        width: 100%;
    }
    .contact-form-header{
        font-size: 58px !important;
    }
    
}
@media (max-width: 375px){
    .header-img-title {
        left: -18px;
        font-size: 85px !important;
    }
    .contact-desc p {
        font-size: 26px !important;
    }
    .contact-title-1 {
        font-size: 80px !important;
    }
    .contact-title-2 {
        font-size: 82px !important;
    }
}
@media (max-width: 360px){
    .header-img-title {
        font-size: 82px !important;
    }
    
}
@media (max-width: 320px){
    .header-img-title {
        left: -15px;
        font-size: 72px !important;
    }
    .banner-container.vc_custom_1494053262754{
        padding-top: 160px !important;
        padding-bottom: 136px !important;
    }
    .contact-desc p {
        font-size: 22px !important;
    }
    .contact-title-1 {
        font-size: 68px !important;
    }
        .contact-title-2 {
        font-size: 65px !important;
    }
}
@media (min-width: 2000px) {
    .header-img-title {
        text-align: center !important;
        left: 0px;
    }
    .contact-map-wrapper{
        max-height: 1152px;
    }
    
}