@media only screen and (min-width: 1600px) and (max-width: 1920px) {
 .mk-grid{
    max-width: 1440px!important;
 }
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
    .mk-grid{
        max-width: 1440px!important;
    }
}
.services-header-sub-title{
    letter-spacing: 11px;
	/*margin-bottom: 40px;*/
    white-space: nowrap;
}
.media-services{
    z-index: 99;
}

.design-dev-p p{
    font-size: 22px !important;
    font-weight: 300;
}
.design-header{
    font-size: 60px !important;
    color: #009cd7 !important;
    position: relative;
    padding-top: 135px;
}
.square-container{
    border: 20px solid #0397d2;
    max-width: 538px;
    padding: 280px 0px 246px;
    z-index: 99;
    position: relative;
}
.square-title{
    font-size: 80px !important;
    font-weight: bold !important;
    width: 100%;
    white-space: nowrap;
    line-height: 54px;
    padding-left: 28px;
}
.design-text-container{
    padding-top: 250px;
    padding-top: 150px;
    padding-left: 75px;
}
.info-graphics-container .vc_col-sm-5, .print-container .vc_col-sm-5{
    float: right;
}
.web-design-container.vc_custom_1493090100215{
    background-position: left bottom !important;
    background-position: left bottom -140px!important;
}
.mobile-app-container.vc_custom_1493090124090{    
    background-position: left top !important;
}
.web-design-desc-container{
    margin-top: 399px;
    margin-top: 250px;
    margin-bottom: 71px;
}
.info-graphics-desc-container{
    margin-top: 172px;
    margin-bottom: 140px;
}
.mobile-app-desc-container{
    margin-top: 70px;
    margin-bottom: 153px;
}
.print-desc-container{
    margin-top: 172px;
    margin-bottom: 80px;
}

.infograph-text-container{
    padding-bottom: 142px;
    background: rgba(255,255,255,0.8);
    padding-right: 150px;
    margin-right: -31px;
    padding-top: 250px;
    padding-left: 35px;
}
.infograph-square{
    background: rgba(255,255,255,0.5);
}
.print-square, .infograph-square{
    padding-top: 245px;
}
.infograph-square .square-title, .print-square .square-title{
    font-size: 107px !important;
    line-height: 78px;
    position: relative;
    padding-left: 0px;
}
.infograph-square .t2{
    text-indent: -90px;
}
.square-title, .square-title{
    right: 60px;
}

.print-text-container{
    padding-top: 150px;
    padding-right: 150px;
}

.design-dev-list{
    font-size: 22px;
    font-weight: 300;
}

.bottom-border.design-header::after{
    width: 234px;
    left: 50%;
    bottom: 0;
    height: 5px;
    margin-left: -117px;
}
.bottom-border.media-title::after{
    bottom: -10px;
    width: 200px;
    height: 10px;
}
.bottom-border.bottom-border2.media-title::after{
    width: 370px;
}
.bottom-border.border-right.media-title::after{
    right: 0px;
    left: inherit;
}
.border-black::after{
    background-color: #333;
}
.border-white::after{
    background-color: #fff;
}

.white, .white p{
    color: white !important;
}

.clear-top{
    top: -2px;
}

.absolute-img{
    position: absolute;
    z-index: -1;
}
.design-process-container .absolute-img{
    top: 90px;
}

.absolute-text{
    position: absolute;
    right: 0px;
    z-index: 99;
}
.absolute-text-l{
    position: absolute;
    z-index: 99;
}

.design-process-container{    
    z-index: 99;
    padding: 0 90px;
}
.design-polygon-container.vc_custom_1493198033227{
    background-position: top center!important;
}
.design-polygon-container{
    min-height: 1720px;    
    padding: 5% 5% 0;
}

.mk-testimonial.avantgarde-style .mk-testimonial-author{
	display: none;
}

.media-testimonial-container.mk-testimonial.avantgarde-style.mk-testimonial{
    padding:0px;
    margin: 0px !important;   
    margin-top: 190px !Important;
    margin-bottom: 160px !important;
    
}
.media-testimonial-container .mk-testimonial-content{
    border: 3px solid #ffffff;
    padding: 30px 55px !important;    
    max-width: 70%;
}
.media-testimonial-container .media-testimonial-title{
    font-size: 36px !important;
    text-transform: uppercase;
    position:relative;
}
.media-testimonial-container .media-testimonial-title:after{
    bottom: -4px;
    width: 138px;
    height: 4px;
    background: #fff none repeat scroll 0 0;
    left: 0;
    content: "";
    position: absolute;
}
.media-testimonial-container.mk-testimonial.avantgarde-style.light-version .media-testimonial-desc{
    font-size: 20px !important;
    color: #333 !important;
}
.media-testimonial-container .mk-testimonial-content p{
    text-align: left !important;
}

.media-testimonial-container .mk-testimonial-content:after,
.media-testimonial-container .mk-testimonial-content:before{
    left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.media-testimonial-container .mk-testimonial-content:after{
    border-color: rgba(3, 151, 210, 0);
    border-left-color: #0397d2;
    border-width: 32px;
    margin-top: -32px;
}
.media-testimonial-container .mk-testimonial-content:before{
    border-color: rgba(3, 151, 210, 0);
    border-left-color: #fff;
    border-width: 38px;
    margin-top: -38px;
}

.media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-prev{
    left: initial !important;
    top: -8%!important;
    right: 2%!important;
}
.IE .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-prev{
    left: auto !important;
}
.media-testimonial-container.mk-testimonial.avantgarde-style .mk-testimonial-image img{
    position: absolute;
    right: 0;
    top: 2%;
    height: auto !important;
    width: 259px !important;
    border-radius: 0;
}
.media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav a{
    background-image: url(/wp-content/uploads/2017/02/media-testimonial-arrow.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 209px;
    height: 128px;
    border: none !important;
}
.media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav a i{
    display: none;
}
.media-testimonial-container.mk-testimonial .flex-direction-nav a{
    opacity: 1;
}
.media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-next{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 2%!important;
    top: 90%;
}

.projects-masonry-container .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
    padding-right: 65px;
    padding-bottom: 65px;
}
.projects-masonry-container .vc_grid-item-mini{
    -webkit-box-shadow: -2px 1px 53px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 1px 53px -4px rgba(0,0,0,0.6);
    box-shadow: -2px 1px 53px -4px rgba(0,0,0,0.6);
}
.projects-masonry-container .vc_btn3.vc_btn3-shape-rounded{
    background-image: none;
}
.projects-masonry-container .vc_btn3.vc_btn3-size-md{
    font-size: 36px;
    text-transform: uppercase;
    padding: 14px 20px !important;
}
.vc_grid .vc_pageable-load-more-btn {
    margin-top: 0;
    margin-left: -45px;
}

.vc_grid-btn-load_more .vc_btn3-icon {
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.projects-masonry-container .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon{
    left: 45%;
    top: 100%;
}
.projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon{
    font-size: 46px;
}

.design-process-list{
    counter-reset: design-process-list-counter;
    font-family: "Josefin Sans";
    font-weight: 700;
}
.design-process-list dt:before{
    font-size: 100px;
    padding: 55px 80px;
    content: counter(design-process-list-counter);
    counter-increment: design-process-list-counter;
    background-image: url(/wp-content/uploads/2017/02/media-process-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.design-process-list dt {
    font-size: 70px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}


.process-qa, .process-pp-analysis, .process-goal-analysis,
.process-aud-analysis, .process-content-analysis, .process-design, .process-development{
   position: absolute;
   width: 400px; 
}
.process-qa{    
    left: 13%;
    margin-top: 35px;
}
.process-pp-analysis{    
    right: 13%;
    margin-top: 35px;
}
.process-goal-analysis{   
    right: 3%;
    margin-top: 31%;
}
.process-aud-analysis{    
    right: 8%;
    margin-top: 59%;
}
.process-content-analysis{    
    left: 50%;
    margin-top: 79%;
    margin-left: -200px;
}
.process-design{    
    left: 8%;
    margin-top: 59%;
}
.process-development{    
    left: 3%;
    margin-top: 31%;
}

.design-features-container .mk-box-icon-2 .mk-box-icon-2-title{
    text-transform: none;
    line-height: 1em;
}

@media (max-width: 1880px){   
    .projects-title{
        font-size: 360px !important;
    }
}
@media (max-width: 1700px){ 
    .projects-title{
        font-size: 330px !important;
    }
}

@media (max-width: 1600px){
    
    .services-header-title{
        margin-bottom: 0px;
    }
    .services-header-container.vc_custom_1489992621215{
        
    }
	.services-header-title{
		font-size: 200px !important;
	}
	.services-header-sub-title{
		font-size: 156px !important;
	}
    .web-design-container.vc_custom_1493090100215{
        background-position: left bottom -35px!important;
    }
    .web-design-desc-container{
        margin-top: 150px;
    }
    .media-services.vc_custom_1488602061296 {
		margin-top: -7.7% !important;
	}
    .design-process-container{
        padding: 0 20px;
    }
	.design-polygon-container {
		min-height: 1500px;
        padding: 5% 2% 0;
	}
	.design-polygon-container.vc_custom_1490337383758 {
		padding-top: 80px !important;
	}
	
	.process-qa{
		left: 17%;
	}
	.process-pp-analysis {		
		right: 17%;		
	}
	.process-goal-analysis {		
		right: 8%;
        margin-top: 28%;		
	}
	.process-aud-analysis{
		right: 11%;
        margin-top: 53%;
	}
	.process-content-analysis{		
    	margin-top: 72%;
	}
	.process-design{
		left: 11%;
    	margin-top: 53%;
	}
	.process-development{
		left: 8%;
        margin-top: 28%;
	}
	
    .projects-title{
        font-size: 300px !important;
        margin-bottom: 30px;
        white-space: nowrap;
    }
    
}
@media (max-width: 1440px){
    .services-header-title{
        font-size: 165px !important;       
    }
	.services-header-sub-title {
		font-size: 142px!important;
		line-height: 0.7em !important;
		margin-bottom: 22px;
	}
    .web-design-container.vc_custom_1493090100215{
        background-position: left bottom -65px!important;
    }
    .media-services.vc_custom_1488602061296 {
		margin-top: -8%!important;
	}
	.web-design-desc-container{
		/*margin-top: 299px!important;*/
	}
	.square-container{
		width: 90%;
		padding: 230px 0 196px;
	}
	.square-title{
		font-size: 72px!important;
		line-height: 0.6em;
	}
	.print-square, .infograph-square {
		padding-top: 195px;
	}
	.infograph-square .square-title, .print-square .square-title{
		font-size: 90px!important;
		line-height: 0.6em;
	}
	.square-title.t1, .square-title.t2 {
		right: 45px;
	}    
	.infograph-text-container{
		padding-bottom: 80px;
		padding-top: 100px;
		padding-right: 100px;
	}
    .print-text-container {
        padding-top: 100px;
        padding-right: 50px;
    }
	.info-graphics-desc-container{
		margin-top: 122px !important;
    	margin-bottom: 90px !important;
	}
	.print-desc-container{
        margin-top: 122px !important;
    }
	.design-text-container {
		padding-top: 100px;
		padding-left: 55px;
	}
	.mobile-app-desc-container{
		margin-top: 100px !important;
    	margin-bottom: 50px !important;
	}
	.design-polygon-container {
        min-height: 1400px;
    }
	.design-header{
		padding-top: 100px;
        font-size: 52px!important;
	}
	.bottom-border.design-header::after{
		width: 220px;
        margin-left: -110px;
	}	
	.design-polygon-container.vc_custom_1490337383758 {
		padding-top: 50px !important;
	}	
	.process-aud-analysis {
		right: 10%;
		margin-top: 53%;
	}
	.process-content-analysis {		
		margin-top: 71%;
	}
	.process-design {
		left: 8%;
		margin-top: 53%;
	}
	.process-development {
		left: 7%;
		margin-top: 25%;
	}
	.process-goal-analysis {
		right: 7%;
		margin-top: 25%;
	}
	.design-features-container.vc_custom_1493353932586 {
		padding-top: 50px !important;
	}
	.design-features {
		margin: 0;
	}
	.design-features-container.vc_custom_1488609624934 {
		padding-bottom: 80px !important;
	}
	
    .projects-title{
        font-size: 280px!important;
        margin-bottom: 38px;
    }
    
    .media-testimonial-container.mk-testimonial.avantgarde-style.mk-testimonial{        
        margin-top: 150px!important;
        margin-bottom: 120px!important
    }
}
@media (max-width: 1366px){
    .projects-title {
        font-size: 270px!important;
        margin-bottom: 38px;
    }
    .web-design-container.vc_custom_1493090100215{
        background-position: left bottom 0px!important;
    }
}
@media (max-width: 1280px){
    
    .services-form-title{
        font-size: 40px !important;
    }
    .services-header-container.vc_custom_1489992621215 {
       
    }
    .services-header-title{
        font-size: 146px!important;
        letter-spacing: 10px;
    }	
    .services-header-sub-title {
		font-size: 122px!important;
		line-height: 0.5em !important;		
	}
    .square-container {
        width: 84%;
    }    
    .square-title {
        font-size: 64px!important;        
    }    
	.square-title.t2, .square-title.t1 {
		right: 40px;
	}
    .infograph-square .square-title, .print-square .square-title {
        font-size: 75px!important;        
    }    
    .design-text-container{
        padding-top: 50px;
    }
    .design-process-container{
        padding: 0;
    }
    .design-polygon-container {
        min-height: 1260px;
        padding: 5% 0% 0;
    }
	.design-polygon-container .design-dev-p p{
        font-size: 20px !important;
    }
	.design-polygon-container .design-dev-p{
		width: 360px !important;
	}
    .process-qa {
        left: 15%;
    }
    .process-pp-analysis{
        right: 15%;
    }
	.process-goal-analysis,{
		right: 7%;
	}
    .process-goal-analysis,.process-development{
        margin-top: 28%;
    }
	.process-design {
		left: 10%;
        margin-top: 50%;
	}
	.process-aud-analysis {
		right: 10%;
		margin-top: 50%;
	}
	.process-content-analysis {	        
		margin-top: 71%;
        margin-left: -180px;
	}

	
    .projects-title {
        font-size: 254px!important;
        margin-bottom: 10px;
    }
    .projects-masonry-container.vc_custom_1490330388735{
        margin-top: -84px!important;
    }
}
@media (max-width: 1224px){
     .projects-title {
        font-size: 222px!important;       
    }
}
@media (max-width: 1100px){
    .services-header-title {
        font-size: 125px!important;
        letter-spacing: 7px;
		line-height: 1em !important;
    }
	.services-header-sub-title {
		font-size: 100px!important;		
	}
    .media-services.vc_custom_1488602061296  {
        margin-top: -9%!important;
    }   
    .web-design-container.vc_custom_1493090100215 {
        background-image: url(/wp-content/uploads/2017/02/design-and-dev-section-bg-1280x790.jpg)!important;
    }
    .info-graphics-container.vc_custom_1493090118803{
        background-image: url(/wp-content/uploads/2017/02/design-dev-infographics-bg-1280x691.jpg)!important;
    }
    .mobile-app-container.vc_custom_1493090124090{
        background-image: url(/wp-content/uploads/2017/02/design-dev-mobile-app-bg-1280x689.jpg)!important;
    }
    .print-container.vc_custom_1493090112946{        
        background-image: url(/wp-content/uploads/2017/02/design-dev-printing-1280x581.jpg)!important;
    } 
   .web-design-desc-container {
		margin-top: 199px!important;
		margin-bottom: 50px !important;
	}
    .design-dev-p p{
        font-size: 20px !important;
    }
    .square-container{
        width: 81%;
        padding: 164px 0 164px;
    }
	.square-title {
		font-size: 50px!important;
		line-height: 0.6em;
	}
	.design-text-container {
		padding-top: 0px;
		padding-left: 20px;
	}
    .mobile-app-desc-container {
        margin-top: 80px!important;        
    }
    .print-square, .infograph-square{
        padding-top: 164px;
    }
	.infograph-square .square-title, .print-square .square-title{
		font-size: 60px !important;
	}
	.square-title.t2, .square-title.t1 {
		right: 20px;
	}

	.info-graphics-desc-container, .print-desc-container {
		margin-top: 80px !important;
		margin-bottom: 50px !important;
	}
	.infograph-text-container {
		padding-bottom: 30px;
		padding-top: 80px;
        padding-right: 50px;		
	}
	.print-text-container {
		padding-top: 30px;
		padding-right: 50px;
	}
	
}
@media (max-width: 1024px){
    .design-dev-list{
        font-size: 20px;
    }
    .design-polygon-container .design-dev-p {
        width: 260px!important;
    }
    .design-polygon-container .design-dev-p p{
        font-size: 16px!important;
    }

    .design-header {
        padding-top: 50px;
        font-size: 42px!important;
    }

    .design-polygon-container {
        min-height: 1024px;
        padding: 3.5% 0% 0;
    }   
    .design-polygon-container h4{
        font-size: 20px !important;
    }
    .process-goal-analysis, .process-development {
        margin-top: 30%;
    }
    .process-content-analysis {        
        margin-top: 68%;
        margin-left: -130px;
    }
    .bottom-border.design-header::after {
        width: 180px;
        margin-left: -90px;
    }
        
    .projects-title {
        font-size: 195px!important;
        margin-bottom: 24px;
    }
    .projects-masonry-container .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item {
        padding-right: 35px;
        padding-bottom: 35px;
    }
    .projects-masonry-container.vc_custom_1490330388735 {
        margin-right: 45px !important;
    }
    .vc_grid .vc_pageable-load-more-btn{
        margin: 0 auto;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md{
        font-size: 26px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon{
        font-size: 34px;
    }
    
    .media-testimonial-container .mk-testimonial-content{
        max-width: 67%;
    }
}
@media (max-width: 960px){
    .design-dev-p p{
        font-size: 16px !important;
    }   
     .design-dev-list{
        font-size: 18px;
    }
    .web-design-desc-container {
        margin-top: 180px!important;
        margin-bottom: 50px !important;
    }
    .square-container { 
        width: 95%; 
        padding: 130px 0 96px;
    }
    .square-title {
        font-size: 40px!important;
        line-height: 0.5em;
    }
    .print-square, .infograph-square {
        padding-top: 140px;
    }
    .square-title.t1, .square-title.t2{
        right: 20px;
    }
    .infograph-square .square-title, .print-square .square-title {
        font-size: 51px !important;
    }
    .design-text-container {
        padding-top: 0px;       
    }
    .infograph-text-container {
        padding-bottom: 5px;
        padding-top: 30px;
        padding-right: 30px;
    }
    .print-text-container {
        padding-top: 0px;
        padding-right: 30px;
    } 
    .design-features-container .vc_col-sm-3{
        width: 50%;
        min-height: 420px;
    }  

     .projects-title{
        font-size: 175px!important;
        margin-bottom: 32px;
    }

    .media-testimonial-container.mk-testimonial.avantgarde-style.mk-testimonial{
        margin-right: 15px !important;
        margin-top: 180px !Important;
        margin-bottom: 60px !important;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .mk-testimonial-content{
        padding: 15px !important;
        margin-top: 115px;
    }
    .media-testimonial-container .mk-testimonial-content{
        margin-left: 15px;
        max-width: 100%;
    }
    .media-testimonial-container .mk-testimonial-content:after, .media-testimonial-container .mk-testimonial-content:before{
        bottom: 100%;
        left: 50%;
        top: auto;
    }
    .media-testimonial-container .mk-testimonial-content:before{
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ffffff;
        border-width: 35px;
        margin-left: -35px;
        margin-top: 0;
    }
    .media-testimonial-container .mk-testimonial-content:after{
        border-color: rgba(3,151,210,0);
        border-bottom-color: #0397d2;
        border-width: 30px;
        margin-left: -30px;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav a{
        width: 148px;
        height: 128px;
    }
    .IE .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-prev{
        left: 0 !important;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-prev{
        top: -19%!important;
        left: 0 !important;
        right: initial !important;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav .flex-next {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        top: -19% !important;
        right: -3% !important;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .mk-testimonial-image img{
        width: 160px !important;
        left: 13px !important;
        top: -26%!important;
    }
}
@media (max-width: 820px){

    .projects-title {
        font-size: 150px!important;
        margin-bottom: 38px;
    }
}
@media (max-width: 800px){
    .design-polygon-container h4{
        font-size: 18px !important;
    }
    .design-header {        
        font-size: 36px!important;
    }
    .bottom-border.design-header::after {
        width: 140px;
        margin-left: -70px;
    }
    .design-polygon-container .design-dev-p p{
        font-size: 14px!important;
    }
    .design-polygon-container {
        min-height: 820px;
        padding: 2.5% 0% 0;
    }
    .process-content-analysis {        
        margin-top: 72%;
    }
}
@media (max-width: 768px){
    .services-header-title {
        font-size: 97px!important;
    }	
    .services-header-sub-title {
		font-size: 72px!important;
	}
     .design-dev-list{
        font-size: 20px;
    }
    .projects-title {
        font-size: 140px!important;    
        margin-bottom: 8px;     
    }
    .projects-masonry-container.vc_custom_1490330388735 {
        margin-top: -50px!important;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md{
        font-size: 22px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon {
        font-size: 30px;
    }   
    
}

@media (max-width: 767px){
    p, .design-dev-list, .design-dev-p p, .design-polygon-container .design-dev-p p{
        font-size: 22px !important;
    }    
    .design-features-container .vc_col-sm-3 {
        width: inherit;
        min-height: auto;
    }
    .design-polygon-container.vc_custom_1493198033227{
        background-image: none !important;
        margin-bottom: 20px;    
    }
    .web-design-container .mk-grid, .info-graphics-container .mk-grid,
    .mobile-app-container .mk-grid, .print-container .mk-grid{
        width: 100%!important;
    }    
    .web-design-container .vc_column_container, .info-graphics-container .vc_column_container,
    .mobile-app-container .vc_column_container, .print-container .vc_column_container{
        padding: 0 4%;
    }
    .web-design-container .vc_column_container:nth-child(2),
    .info-graphics-container .vc_column_container:nth-child(2),
    .mobile-app-container .vc_column_container:nth-child(2),
    .print-container .vc_column_container:nth-child(2){
        background-color: white;
    }
    .square-container{
        margin-bottom: 0!important;
    }
    .design-dev-p{
        padding-top: 20px !important;
    }

    .services-header-container.vc_custom_1489992621215{       
        
    }    
    .services-form-title {
        font-size: 36px !important;	
    }
    .services-header-title{
        letter-spacing: 1px !important;        
        line-height: 0.7em !important;
        margin-bottom: 0;       
    }
    .services-header-sub-title{        
        line-height: 1em !important;
        letter-spacing: 1px !important;
    }
    .info-graphics-container .vc_col-sm-5, .print-container .vc_col-sm-5{
        float: inherit;
    }
    
    .web-design-container.vc_custom_1493090100215,
    .mobile-app-container.vc_custom_1493090124090{        
        background-size: cover !important;
        background-position: center !important;
    } 
    .mobile-app-container.vc_custom_1493090124090{    
        background-size: cover !important;
        background-position: left center !important;  
    }
    .info-graphics-container.vc_custom_1493090118803, .print-container.vc_custom_1493090112946{
        background-size: cover !important;
        background-position: right center !important;
    }
   
    .web-design-desc-container{
        margin-top: 240px !important;
        margin-bottom: 0px !important;
    }

    .square-container{
        padding: 165px 0px 105px;
        width: 52%;
        margin-bottom: 10px !important;
    }
    .square-title{
        line-height: 0.5em;
        font-size: 47px !important;
        padding-left: 20px;
    }
    .design-text-container{
        padding-top: 0;
        padding-left: 0;
    }    
    .info-graphics-desc-container {
        margin-top: 125px !important;
        margin-bottom: 0 !important;
    }  
    
    .infograph-square.square-container{
        background: transparent;
        float: right;
        padding: 140px 0px 105px;
    }
    
    .infograph-square .square-title, .print-square .square-title{
        font-size: 69px !important;        
    }    

    .infograph-text-container{
        padding: 0;
        background: none;
        margin: auto;
        text-align: right !important;
    }    
    
    .mobile-app-desc-container{
        margin-top: 135px!important;
        margin-bottom: 0 !important;
    }
    .mobile-app-container .square-container{
        padding: 165px 0 145px;
        width: 52%;
    }
    .mobile-app-container .square-title{
         padding-left: 5px;
         font-size: 56px!important;
    }    
    .print-square .square-title.t1, .print-square .square-title.t2 {
        right: 20px;
    }
    .print-desc-container{
        margin-top: 186px!important;
        margin-bottom: 0 !important;
    }
    .print-text-container{
        text-align: right !important;
        padding: 0;
    }
    .print-square.square-container{
        float: right;
        padding: 140px 0px 103px;
    }
    .print-square .square-title.t1, .print-square .square-title.t2 {
        right: 31px;
    }

    .design-polygon-container .design-dev-p h4{
        font-size: 24px!important;
    }
    .design-dev-list{
        text-align: right;
    }
    .design-dev-list.mk-list-styles ul li{
        padding: 0 20px 0 21px;
    }
    .design-dev-list.mk-list-styles ul li .mk-svg-icon{
        right: 0;
        left: initial;
    }   
    
    .design-polygon-container .vc_column_container>.vc_column-inner{
        padding-left: 0;
        padding-right: 0;
    }
    .design-polygon-container .mk-text-block{
        position: relative !important;
        width: 100% !important;
        right: initial !important;
        left: 0 !important;
        margin: auto !important;
        text-align: center !important;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        padding-top: 100px !important;
    }
    .design-polygon-container .mk-text-block h4{
        padding: 20px;
        margin: 0 auto;
    }
    .process-content-analysis .master-holder h4{
        width: 60%;
    }
    .design-polygon-container .design-dev-p p{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .design-features-container.vc_custom_1493353932586 {
        padding-top: 30px !important;
    }
    .design-features-container.vc_custom_1488609624934 {
        padding-bottom: 60px !important;
    }
    .design-features {
        margin: 80px 0;
    }
    .design-header{
        font-size: 48px !important;
        line-height: 0.9em;
         padding-top: 50px;
    }
    .bottom-border.design-header::after {
        bottom: -10px;       
    }
	.design-polygon-container .design-dev-p {
		height: 100%;		
	}
    
    .process-qa:before, .process-qa:after, .process-qa h4:before,
    .process-pp-analysis:before, .process-pp-analysis:after, .process-pp-analysis h4:before,
    .process-goal-analysis:before, .process-goal-analysis:after, .process-goal-analysis h4:before,
    .process-aud-analysis:before, .process-aud-analysis:after, .process-aud-analysis h4:before,
    .process-content-analysis:before, .process-content-analysis:after, .process-content-analysis h4:before,
    .process-design:before, .process-design:after, .process-design h4:before,
    .process-development:before, .process-development:after, .process-development h4:before{
        content: " ";
        position: absolute;
    }
    .process-qa:before,.process-pp-analysis:before, .process-goal-analysis:before,
    .process-aud-analysis:before,.process-content-analysis:before, .process-design:before,
    .process-development:before{          
        height: 110px;
        width: 110px;
        background-repeat: no-repeat;
        top: 37px;        
    }
    .process-qa:before, .process-goal-analysis:before, .process-content-analysis:before,
    .process-development:before{
        background-image: url(/wp-content/uploads/2017/04/process-line-right-corner.png); 
        right: 3px;  
    }
    .process-pp-analysis:before, .process-aud-analysis:before, .process-design:before{
        background-image: url(/wp-content/uploads/2017/04/process-line-left-corner.png);  
        left: 3px; 
    }
    .process-qa h4:before, .process-pp-analysis h4:before, .process-aud-analysis h4:before,
    .process-goal-analysis h4:before, .process-content-analysis h4:before, .process-design h4:before,
    .process-development h4:before {       
        background-repeat: no-repeat;
        height: 112px;
        width: 100%;
        top: 0;
        z-index: 99;
    }
    .process-qa h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-1.png);
        background-position: left 20px center;
    }
    .process-pp-analysis h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-2.png);       
        background-position: left 60px center;
    }
    .process-goal-analysis h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-3.png);
        background-position: left 31px center;
    }
    .process-aud-analysis h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-4.png);
        background-position: left 71px center;
    }
    .process-content-analysis h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-5.png);
        background-position: left 110px center;
    }
    .process-design h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-6.png);
        background-position: left -4px center;
        margin-left: -10px;
    }
    .process-development h4:before{
        background-image: url(/wp-content/uploads/2017/04/process-7.png);
        background-position: left 31px center;
    }
    .process-qa:after,.process-pp-analysis:after, .process-goal-analysis:after,
    .process-aud-analysis:after,.process-content-analysis:after, .process-design:after,
    .process-development:after{
        background-image: url(/wp-content/uploads/2017/04/process-line.png);
        width: 86%;
        height: 20px;
        top: 45px;       
        background-repeat-y: no-repeat;
    }
    .process-qa:after, .process-goal-analysis:after, .process-content-analysis:after,
    .process-development:after{
        left: -14px;
    }
    .process-pp-analysis:after, .process-aud-analysis:after, .process-design:after{
        left: 101px;
        top: 46px;
    }           

    .projects-masonry-container .vc_btn3.vc_btn3-size-md {
        font-size: 30px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon {
        font-size: 40px;
    }
    .projects-masonry-container.vc_custom_1490330388735{
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
    .projects-masonry-container .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{
        padding-right: 25px;
        padding-bottom: 38px;
    }
    .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty){
        padding-left: 0; 
    }
        
    .media-testimonial-container .media-testimonial-title{
        line-height: 1em;
    }
    .media-testimonial-container .media-testimonial-title:after{
        bottom: -7px;
    }
}
@media (max-width: 667px) {
    .square-container, .mobile-app-container .square-container{
        width: 59%;
    }
}
@media (max-width: 480px){
    .services-header-container.vc_custom_1489992621215 {
       
    }        
    .services-header-title{
        font-size: 60px !important;
    }
	.services-header-sub-title {
		font-size: 46px !important;		
	}
	.square-title {
		font-size: 40px !important;
	}    
	.square-container{
		padding: 145px 0px 85px;
        width: 71%;
	}
    .mobile-app-container .square-container{        
        width: 79%;
    }

    .web-design-container.vc_custom_1493090100215, .info-graphics-container.vc_custom_1493090118803,
    .mobile-app-container.vc_custom_1493090124090, .print-container.vc_custom_1493090112946{        
        background-size: contain !important;
        background-position: top !important;
    }
    .web-design-container.vc_custom_1493090100215{
        background-image: url(/wp-content/uploads/2017/03/we-design-mobile.jpg) !important;        
    }
    .info-graphics-container.vc_custom_1493090118803{
        background-image: url(/wp-content/uploads/2017/03/design-dev-infographics-mobile.jpg) !important;
    }
    .mobile-app-container.vc_custom_1493090124090{
        background-image: url(/wp-content/uploads/2017/03/design-dev-mobile-app-phone.jpg)!important;
    }
    .print-container.vc_custom_1493090112946 {
        background-image: url(/wp-content/uploads/2017/03/design-dev-printing-mobile.jpg) !important;
    }
	.web-design-desc-container {
		margin-top: 205px !important;		
	}    
	.infograph-square .square-title, .print-square .square-title {
		font-size: 58px !important;		
	}
	.infograph-square.square-container{
		padding: 120px 0px 85px;
	}
	
	.mobile-app-container .square-title {
		padding-left: 5px;
		font-size: 42px!important;
	}
	.mobile-app-container .square-container {
		padding: 125px 0 125px;		
	}
	.print-square.square-container {		
		padding: 120px 0px 83px;
	}
	.print-desc-container {
		margin-top: 186px !important;
	}
    .process-qa:after, .process-goal-analysis:after, .process-content-analysis:after, .process-development:after {
        left: -43px;
    }
		
    .proj-title{
        font-size: 176px !important;
    }
    .jects-title{
        font-size: 132px !important;
    }
    .media-testimonial-container .media-testimonial-title{
        font-size: 30px !important;
    }
}
@media (max-width: 375px){
    .services-header-container.vc_custom_1489992621215 {
        
    }  
    p, .design-dev-list, .design-dev-p p, .design-polygon-container .design-dev-p p{
        font-size: 20px !important;
    }      
    .square-title {
        font-size: 34px!important;
    }
    .mobile-app-container .square-title {        
        font-size: 36px!important;
    }
    .square-container {       
        width: 80%;
    }
    .infograph-square .square-title, .print-square .square-title {
        font-size: 48px!important;
    }
    .web-design-desc-container {
		margin-top: 158px !important;		
	}
	.info-graphics-desc-container {
		margin-top: 87px !important;
	}
	.mobile-app-desc-container {
		margin-top: 92px!important;		
	}
	.print-desc-container {
    	margin-top: 139px !important;
	}
	.bottom-border.design-header::after{
		width: 120px;
        margin-left: -60px;
	}
	.process-content-analysis h4:before{
		background-position: left 24px center;
	}
	
    .proj-title {
        font-size: 159px !important;
    }
    .jects-title {
        font-size: 120px !important;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md {
        font-size: 28px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon {
        font-size: 38px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md{
        padding: 14px 0px !important;
    }
}
@media (max-width: 360px){
    .services-form-title {
        font-size: 30px !important;
    }   
    .design-header {
        font-size: 40px!important;        
    }
	.square-title {
		font-size: 31px !important;
	}
	.square-container {
		border: 15px solid #0397d2;		
	}
	.infograph-square .square-title, .print-square .square-title {
		font-size: 52px !important;
	}
	.info-graphics-desc-container {
		margin-top: 80px !important;
	}
	.mobile-app-desc-container {
		margin-top: 79px!important;
	}
	.print-desc-container {
		margin-top: 131px !important;
	}

    .media-testimonial-container.mk-testimonial.avantgarde-style.light-version .media-testimonial-desc {
        font-size: 18px!important;
    }
   
}
@media (max-width: 320px){
    .services-header-container.vc_custom_1489992621215 {
        
    }
    p, .design-dev-list, .design-dev-p p, .design-polygon-container .design-dev-p p {
        font-size: 18px!important;
    }
    .services-header-title {
        font-size: 46px!important;
    }  
	.services-header-sub-title {
		font-size: 36px !important;
	}
	.square-container {
		padding: 95px 0px 75px;
	}
	.square-title{
		padding-left: 10px;		
	}
    .infograph-square .square-title, .print-square .square-title {
        font-size: 44px!important;
    }
	
	.infograph-square.square-container {
		padding: 90px 0px 74px;
	}
	.mobile-app-container .square-title {
		font-size: 34px!important;
	}
	.mobile-app-container .square-container {
		padding: 95px 0 110px;
	}
	.print-square .square-title.t1, .print-square .square-title.t2 {
		right: 15px;
	}
	.print-square.square-container {
		padding: 90px 0px 69px;
	}	
    .process-qa:after, .process-goal-analysis:after, .process-content-analysis:after, .process-development:after {
        left: -51px;
    }
    
    .proj-title {
        font-size: 135px!important;
    }
    .jects-title {
        font-size: 102px!important;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md {
        font-size: 22px;
    }
    .projects-masonry-container .vc_btn3.vc_btn3-size-md .vc_btn3-icon {
        font-size: 32px;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style.light-version .media-testimonial-desc{
        font-size: 16px!important;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .mk-testimonial-image img{
        width: 122px!important;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .flex-direction-nav a {
        width: 99px;
        height: 61px;
    }
    .media-testimonial-container.mk-testimonial.avantgarde-style .mk-testimonial-content{
        margin-top: 35px;
    }
}

